<!DOCTYPE html>
<html>
    <head>
        <title>conversational ai</title>
        <script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
        <script>
            $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
            // function clickYes(){
            //     $('div#conversation_zone').append('<p>Bot: Great! Feel free to ask another question</p>');
            // }
            // function clickNo(){
            //     $('div#conversation_zone').append("Sorry, I couldn't find what you were looking for");
            // }
            function clickQRButton(value){
                alert('button clicked!');
                if(value=='Yes'){
                    $('div#conversation_zone').append('<p>Bot: Great! Feel free to ask another question</p>');
                }else if(value=='No'){
                    $('div#conversation_zone').append("Sorry, I couldn't find what you were looking for");
                }else{
                    $('input[name="question"]').text(value);
                }
            }
            $(function(){
                $("#question_button").click(function(){
                    // var text='<p>I: '+data.result+'</p>';
                    // $('div#conversation_zone').append(text);
                    var text='<p>I: '+$('input[name="question"]').val()+'</p>';
                    $('div#conversation_zone').append(text);
                    $.post($SCRIPT_ROOT+'/',{
                        question: $('input[name="question"]').val()
                    }, function(data){
                        //alert(typeof(data)+' '+data);
                        for(var i=0;i<data.length;i++){
                            //alert(data[i].type);
                            var d=data[i];
                            if(d.type=='text'){
                                var content=d.content;
                                content=content.replace('**','<strong>');
                                content=content.replace('**','</strong>');
                                $('div#conversation_zone').append('<p>Bot: '+content+'</p>');
                            }else if(d.type=='quickReplies'){
                                var content=d.content;
                                var title=content.title;
                                title=title.replace('**', '<strong>');
                                title=title.replace('**', '</strong>');
                                var buttons=content.buttons;
                                var text='<p>Bot: '+title+'<br><span>';
                                for(var i=0;i<buttons.length;i++){
                                    alert(typeof(buttons[i].value)+' '+buttons[i].value);
                                    text=text+'<button onclick="clickQRButton('+buttons[i].value+')">'+buttons[i].title+'</button>';
                                }
                                text=text+'</span></p>';
                                alert(text);
                                $('div#conversation_zone').append(text);
                                // $('div#conversation_zone').append('<p>Bot: '+title+'<br><span><button onClick="clickYes()">'+
                                // buttons[0].title+'</button><button onClick="clickNo()">'+buttons[1].title+'</button></span></p>');
                            }
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <h1>Conversational AI</h1>
        <div id="conversation_zone"></div>
        <input type="text" name="question"><button id="question_button">ask</button>
        <button onclick="clickQRButton('Yes')">test clickQRButton</button>
    </body>
</html>